@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply rounded-sm font-light w-full text-left border border-gray-600 px-3 my-2;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

.nav_link {
    @apply ml-8 border-b-2 border-b-white hover:border-b-gray-600 h-full flex items-center;
    a {
        @apply py-10 px-4;
    }
}

.btn{
    @apply font-medium text-center rounded-sm py-2 mb-2;
    &.btn--small{
        @apply rounded-lg;
    }
}
.btn-link{
    @apply font-medium text-center rounded-lg py-2 mb-2 bg-blue-300;
}
.btn-link-teal{
    @apply font-medium text-center rounded-lg py-2 mb-2 bg-teal-400;
}
.btn-link-red{
    @apply font-medium text-center rounded-lg py-2 mb-2 bg-red-300;
}
.btn-input{
    @apply font-medium rounded-sm py-2 mb-2;
    @apply w-full placeholder:text-left text-left border border-gray-600 px-5 focus:outline-none focus:border-teal-500 my-2;
}

.form-input{
    input{
        @apply btn-input;
    }
}

.input{
    &.has-error {
        input {
            @apply bg-red-200 border-gray-400 focus:border-gray-600 mb-2 mt-px;
        }
    }
}

@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-60px);
    }
    5%{
        opacity: 1;
        transform: translateY(30px);
    }
    95%{
        opacity: 1;
        transform: translateY(30px);
    }
    100%{
        opacity: 0;
        transform: translateY(-60px);
    }
}

.message{
    animation: messageFadeIn 4s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.success{
        @apply bg-green-500;
    }
    &.debug{

    }
    &.info{
        @apply bg-blue-400;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}

textarea{
    @apply border border-gray-800;
    resize: none;
    height: 120px;
}

.form-input{
    textarea{
        @apply w-full p-1;
    }
    select{
        height: 35px;
    }
}

.border-section{
    @apply border-b border-gray-400 pb-4 mt-4;
}
.border-section-sm{
    @apply border-b border-gray-200 pb-2 mt-2;
}